# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
CSCI3260_Computer_Graphics/CourseProject/x64
CSCI3260_Computer_Graphics/.vs
CSCI3260_Computer_Graphics/CourseProject/Debug
CSCI3260_Computer_Graphics/Debug
CSCI3260_Computer_Graphics/x64
CSCI3260_CG/.vs
CSCI3260_CG/CourseProject/Debug
CSCI3260_CG/CourseProject/x64
CSCI3260_CG/Debug
CSCI3260_CG/x64
